{% extends 'base.html.twig' %}

{% block title %}Hello NavigationController!{% endblock %}

{% block body %}
 <h1>Etudiant</h1>
 <div class="mb-3">
    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
</div>
</div>
{% endblock %}
